<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/index.css">
    <title>DC Picture Help</title>
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                    <h2>Help</h2>
                    <div class="helpbox">
                        <div class="uuid">
                            <p>To get the uuid simply go to this site <a href="https://huggingface.co/spaces/DaRealTrueBlue/DCSchoolPhotos">here</a> and enter your seqta infomation</p>
                        </div>
                    </div>
                    <div class="helpbox">
                        <div class="jsessionid">
                            <p>To get the jsessionid watch this video <a href="https://youtu.be/4Hhr1H7MQXw">here</a></p>
                        </div>
                    </div>
                    <a href="/">
                        <button>Go Back</button>
                    </a>
            </div>
        </div>
    </section>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
