<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/index.css">
    <title>DC Picture</title>
</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="/download" method="post" target="_blank">
                    <h2>Login</h2>
                    <div class="inputbox">
                        <ion-icon name="person-outline"></ion-icon>
                        <input type="text" id="uuid" name="uuid" required>
                        <label for="uuid">UUID</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" id="jsessionid" name="jsessionid" required>
                        <label for="jsessionid">JSESSIONID</label>
                    </div>
                    <button type="submit">Get Image!</button>
                    <div class="help">
                        <p>How to get UUID and JSESSIONID? <a href="/help">Help</a></p>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
